/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blank{
  color: rgb(32, 8, 246);
} */

@media (min-width: 992px) {
  .navbar {
    /* Ensure navbar remains expanded on desktop (lg breakpoint) */
    flex-wrap: nowrap;
  }
}
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Source+Code+Pro:400|Share+Tech+Mono);

/* Couleurs pour le dark mode */
html {

  --bg-primary: #232434/*#343a40*/;
	--bg-secondary: #2e2f3e/*#5a6268*/;
	--bg-light: #404255/*#6c757d*/;
	--bg-floating: #1e1c2a/*#161616*/;
	--border-color: red;
  --shadow-color: rgba(255,0,0,.25);
}

/* Couleurs pour le light mode */
html.light-mode {
	--text-primary: #000;
	--text-secondary: rgba(0, 0, 0, 0.5);
	--text-hover: rgba(0, 0, 0, 0.75);
  --text-disabled: rgba(0, 0, 0, 0.25);

  --bg-primary: #ffffff;
	--bg-secondary: #c5c5c5;
	--bg-light: #dadada;
	--bg-floating: #b4b4b4;
	--border-color: red;
	--shadow-color: rgba(255,0,0,.25);
}

body {
  -webkit-transition: background 250ms ease;
  transition: background 250ms ease;
  background-color: var(--bg-floating);
  color: var(--text-secondary);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
	color: var(--text-primary);
}

p {
	color: var(--text-secondary);
}

.bg-dark {
  background: var(--bg-primary)!important;
}

/* Bouton du light mode/dark mode */
.custom-control-label::after {
    background-color: transparent;
	top: -0.5rem;
    left: -1.5rem;
    content: "☀";
	font-size: 26px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: transparent;
    content: "🌑";
	font-size: 26px;
	top: -0.5rem;
    left: -1.5rem;
}

.custom-control-input:checked~.custom-control-label::before, .custom-control-input:not(:disabled):active~.custom-control-label::before {
    color: transparent;
    border-color: transparent;
    background-color: transparent;
}


.custom-control-label::before {
    content: "";
    background-color: transparent;
    border: none;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: none;
}

/* Couleur boutons social */
.btn-twitter {
    color: #1da1f2;
    background-color: var(--bg-light);
    border-color: var(--bg-light);
}

.btn-twitter:hover {
    color: var(--text-primary);
    background-color: #1da1f2;
    border-color: #1da1f2;
}

.btn-twitch {
    color: #6441a5;
    background-color: var(--bg-light);
    border-color: var(--bg-light);
}

.btn-twitch:hover {
    color: var(--text-primary);
    background-color: #6441a5;
    border-color: #6441a5;
}

.btn-instagram {
    color: #e1306c;
    background-color: var(--bg-light);
    border-color: var(--bg-light);
}

.btn-instagram:hover {
    color: var(--text-primary);
    background-color: #e1306c;
    border-color: #e1306c;
}

.btn-discord {
    color: #7289da;
    background-color: var(--bg-light);
    border-color: var(--bg-light);
}

.btn-discord:hover {
    color: var(--text-primary);
    background-color: #7289da;
    border-color: #7289da;
}

.btn-merch {
  color: #34da9a;
  background-color: var(--bg-light);
  border-color: var(--bg-light);
}

.btn-merch:hover {
  color: var(--text-primary);
  background-color: #34da9a;
  border-color: #34da9a;
}

.btn-donation {
  color: #f3e51d;
  background-color: var(--bg-light);
  border-color: var(--bg-light);
}

.btn-donation:hover {
  color: var(--text-primary);
  background-color: #f3e51d;
  border-color: #f3e51d;
}

.btn-wishlist {
  color: #973bec;
  background-color: var(--bg-light);
  border-color: var(--bg-light);
}

.btn-wishlist:hover {
  color: var(--text-primary);
  background-color: #973bec;
  border-color: #973bec;
}

/* Couleur de la navbar */
.navbar {
	background: var(--bg-primary)!important;
}

.navbar-nav .nav-link {
	color: var(--text-secondary)!important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--text-hover)!important;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: var(--text-primary)!important;
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: var(--text-disabled)!important;
}

/* Couleurs des dropdown menus */
.dropdown-menu {
    color: var(--text-primary);
    background-color: var(--bg-primary);
    border: 1px solid var(--bg-primary);
}

.dropdown-item {
    color: var(--text-secondary);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
}

/* Back to top */
.m-backtotop {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: fixed;
  bottom: -50px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--bg-primary);
  border-radius: 25px;
  text-align: center;
  border: 2px solid var(--bg-secondary);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  opacity: 0;
  overflow: hidden;
  color: var(--text-primary);
}
.m-backtotop.active {
  bottom: 15px;
  opacity: 1;
}
.m-backtotop > div {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.m-backtotop > div.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}
.m-backtotop > div.text {
  font-size: 5px;
  font-size: 0.5rem;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0;
  margin-top: 1px;
}
.m-backtotop:hover {
  transform: scale(1.1);
  bottom: 20px;
  cursor: pointer;
  background: var(--bg-floating);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}
.m-backtotop:hover > div.arrow {
  transform: translateY(-150%) translateX(-50%);
  opacity: 0;
}
.m-backtotop:hover > div.text {
  transform: translateY(-50%) translateX(-50%);
  opacity: 1;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#twitch-embed-size {
  min-width: 85vw;
  min-height: 71vh;
}

.footer {
  color: var(--text-primary);
}

.card {
  background-color: var(--bg-primary);
  border: 1px solid var(--bg-secondary);
}

.card-header {
  background-color: var(--bg-light);
  border-bottom: 1px solid var(--bg-secondary);
}

.btn-link {
  color: var(--text-secondary);
}

.btn-link:hover {
  color: var(--text-hover);
}

.img-thumbnail {
  background-color: var(--bg-light);
  border: 1px solid var(--bg-primary);
}

.ekko-lightbox-nav-overlay a {
  color: var(--text-primary);
}

.modal-content {
  background-color: var(--bg-light);
  border: 1px solid var(--bg-primary);
}

.dropdown-header {
  color: var(--text-primary);
  background: var(--bg-secondary);
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* change if the mask should have another color then white */
  z-index: 98;
  /* makes sure it stays on top */
  background: radial-gradient(var(--bg-secondary), var(--bg-floating));
  content: '';
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  overflow: hidden;
  padding: 30px 0 0 30px;
  text-align: center;
}

.word {
  bottom: 0;
  color: #fff;
  font-size: 2.5em;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  margin: auto;
  right: 0;
  position: absolute;
  text-shadow: 0 0 10px rgba(255, 50, 50, 0.5), 0 0 5px rgba(255, 100, 100, 0.5);
  top: 0
}

.word span {
  display: inline-block;
  transform: translateX(100%) scale(0.9);
  transition: transform 500ms;
}

.word .done {
  color: rgb(255, 102, 102);
  transform: translateX(0) scale(1);
}

.overlay {
  background-image: linear-gradient(transparent 0%, rgba(16, 10, 10, 0.5) 50%);
  background-size: 1000px 2px;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}




/* under construction */

.decode-text {
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}

.space {
  display: inline-block;
  width: 10px;
}

.text-animation {
  display: inline-block;
  color: transparent;
  text-transform: uppercase;
}
.text-animation:before {
  content: '';
  color: var(--text-primary);
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--bg-light);
  width: 0;
  height: 1.2em;
  -webkit-transform: translate(-50%, -55%);
  -ms-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
}
.text-animation.state-1:before {
  width: 1px;
}
.text-animation.state-2:before {
  width: .9em;
}
.text-animation.state-3 {
  color: var(--text-primary);
}
.text-animation.state-3:before {
  width: 0;
}

.form-control {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border: 1px solid var(--bg-light);
}

.form-control:focus {
  color: var(--text-primary);
  background-color: var(--bg-floating);
  border-color: var(--bg-light);
  box-shadow: none;
}

.form-control:disabled, .form-control[readonly] {
  background-color: var(--bg-floating);
}

label {
  color: var(--text-primary);
}

::placeholder {
  color: var(--text-disabled);
  opacity: 1;
}

::selection {
  background: var(--border-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--border-color); /* Gecko Browsers */
}